.news-category-item a {
    font-size: 20px;
}

.news-category-item .news-category-item-link {
    font-size: 15px !important;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff !important;
    border: 1px solid #fff;
}

.news-category-item .news-category-item-link:hover {
    background-color: #fff;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

@media only screen and (min-width: 320px) and (max-width: 575px) {}