<div data-aos="fade-up" data-aos-duration="2000" class="get-start field__item field-landing__item ">
    <div class="container ">

        <h2>LET'S GET STARTED</h2>
        <p>Every connection starts with a conversation. Our team is here to help.</p>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <p class="no-margin p-upp">Contact Us</p>
                <a class="padding-a margin-a" href="mailto:tanhdo18@gmail.com">
                    <i class="color-w font-i fa-regular fa-envelope"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <p class="no-margin p-upp">Office Locations</p>
                <a class="padding-a margin-a" href="https://goo.gl/maps/SDFLcoco4XSMvSFV7" target="_blank">
                    <i class="color-w font-i fa-solid fa-location-dot"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <p class="no-margin p-upp">Call Us Now</p>
                <a class="padding-a margin-a" href="tel://+8481580436"><i class="fa-solid fa-phone"></i></a>
            </div>

        </div>
    </div>
</div>