
<div class="footer ">
    <div class="container">
        <div class="row footer-container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 aline-item">
                <a class="width100 navbar-brand" href="#"><img class="width100" src="./img/logo/LOGO.png" alt=""></a>
                <br>

                <p class="padding-left">
                    <a href="https://goo.gl/maps/VbziovsYSEFKRpG48" target="_blank" class="padding-10">
                        Lot F1-2-3, Thang Long 3 IP. Binh Xuyen, Vinh Phuc Vietnam
                    </a>
                </p>
                <p class="padding-left">
                    <a href="mailto:tanhdo18@gmail.com"> <i class=" fa-solid fa-envelope"></i> tanhdo18@gmail.com</a>
                </p>
                <p class="padding-left">
                    <a class="border-right " href="tel://+8481580436"><i class="fa-solid fa-phone"></i>(+84) 81580436</a>
                </p>
            </div>

            <div class="padding-top padding-left  col-lg-2 col-md-6 col-sm-6 col-6 nav-footer">

                <p><a href="/home.html">About us</a></p>
                <p><a href="/project-location.html">Location</a></p>
                <p><a href="/news.html">News & Research</a></p>
                <p><a href="/contact.html">Contact</a></p>
            </div>
            <div class="padding-top padding-left col-lg-3 col-md-6 col-sm-6 col-6 nav-footer">
                <p>
                    <a href="./privacy-policy.html">
                        Privacy Policy
                    </a>
                </p>
                <p><a href="./terms-of-use.html">terms of use</a></p>
                <p><a href="./access-statement.html">Accessibility Statement</a></p>
                <p><a href="./for-employee.html">For employees</a></p>

            </div>
            <div class="padding-top  col-lg-3 col-md-6 col-sm-6 col-6 nav-footer">
                <p><a href="https://cnctech.vn/">Corporate Group</a></p>
                <p><a href="https://cnctech.com.vn/">Manufacturing</a></p>
                <p><a href="./home.html">Industrial Infrastructure</a></p>

            </div>
        </div>
        <div class="row copyright">
            <a href="#" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
            <div class="col-lg-3">
                <span>© 2022 CNCTech, Inc. All rights reserved.</span>
            </div>
            <div class="col-lg-9 text-right">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>

        </div>
    </div>
</div>
<div class="request-btn zoom-small">
    <a id="request-form" href="">
        <img src="/img/contact/request.png" alt="img">
        <p>Request Form</p>
    </a>
</div>
<div id="modal-form" class="modal-block">
    <div data-aos="zoom-in" data-aos-duration="1400" class="form-block">
        <i id="btnIconI" class="fa-solid fa-xmark"></i>
        <h3>make an appointment</h3>
        <form action="" class="form ">

            <div class="form-infor row no-margin no-padding">

                <div class="form-input col-ld-12">
                    <label for="">Full Name</label>
                    <input type="text" name="" id="">
                </div>

                <div class="form-input col-lg-6">
                    <label for="">Email</label>
                    <input type="email" name="" id="">
                </div>
                <div class="form-input col-lg-6">
                    <label for="">  Phone Number</label>
                    <input type="text" name="" id="">
                </div>
                <div class="form-input col-ld-12">
                    <label for="">Title</label>
                    <input type="text" name="" id="">
                </div>

                <div class="form-input-lable col-ld-12">
                    <label for="">Your message & other request</label>
                    <textarea name="message" id="" cols="10" rows="5">

                            </textarea>
                </div>

            </div>
            <input class="form-submit" type="submit"></input>


        </form>

    </div>
</div>
<a id="calltrap-btn" class=" b-calltrap-btn calltrap_offline hidden-phone visible-tablet border-right white-color" href="tel://+8481580436">
    <div id="calltrap-ico"></div>
</a>